build/*
.idea/copyright/profiles_settings.xml
src/com/runtimeverification/rvmonitor/c/rvc/parser/*.java
src/com/runtimeverification/rvmonitor/java/rvj/parser/main_parser/*.java
!src/com/runtimeverification/rvmonitor/java/rvj/parser/main_parser/Token.java
src/com/runtimeverification/rvmonitor/logicpluginshells/cfg/parser/*.java
src/com/runtimeverification/rvmonitor/logicpluginshells/fsm/parser/*.java
src/com/runtimeverification/rvmonitor/logicpluginshells/pda/parser/*.java
src/com/runtimeverification/rvmonitor/logicpluginshells/po/parser/*.java
src/com/runtimeverification/rvmonitor/logicpluginshells/ptcaret/parser/*.java
src/com/runtimeverification/rvmonitor/logicpluginshells/srs/pma/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/cfg/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/ere/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/fsm/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/ltl/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/pda/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/po/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/ptcaret/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/srs/parser/*.java
src/com/runtimeverification/rvmonitor/logicpluginshells/tfsm/parser/*.java
src/com/runtimeverification/rvmonitor/logicrepository/plugins/tfsm/parser/*.java
*.class
*.swp

test-reports/

examples/**/__RVC_*.h
examples/**/__RVC_*.c
examples/**/__RVC_*.o
examples/**/__RVC_*.bc
examples/c/**/test.actual.*

examples/c/CFG/IsNull/test_*
examples/c/Parametric/headlights/test1
examples/c/autosar_like/canif_concept/canif_test_*
examples/c/safety_critical/hood_loose/test1
examples/c/safety_critical/seatbelt/test*
examples/c/safety_critical/seatbelt_timed/test*
examples/c/safety_critical/six_steps/test*

examples/llvmmop/**/aspect.map
examples/llvmmop/**/Makefile
examples/llvmmop/**/Makefile.instrument
examples/llvmmop/**/instrumented.actual.*
examples/llvmmop/**/original.actual.*

examples/llvmmop/CFG/is_null/test1*
examples/llvmmop/CFG/is_null/test2*
examples/llvmmop/CFG/is_null/test_*/test*.bc*
examples/llvmmop/autosar_like/can_if_concept/CanIf.bc*
examples/llvmmop/autosar_like/can_if_concept/canif_*/test_*.bc*
examples/llvmmop/autosar_like/can_if_concept/test_*
examples/llvmmop/safety_critical/six_steps/lib/six_steps.bc*
examples/llvmmop/safety_critical/six_steps/test1*
examples/llvmmop/safety_critical/six_steps/test2*
examples/llvmmop/safety_critical/six_steps/test_*/test*.bc*

target/**
